#dot1-level1 {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    display: inline-flex;
    position: relative;
    top: 40px;
    right: 130px;
}

#dot2-level1 {
    height: 60px;
    width: 60px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-flex;
    position: relative;
    bottom: 70px;
    left: 70px;
}

#dot3-level1 {
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    display: inline-flex;
    position: relative;
}

.backgroundCLick{
    background-color: black;
    opacity: 0.1;
    z-index: 2;
}
.fas {color: red}

#kotak-level1{
    width: 1275px;
    height: 400px;
    background-color: white;
    opacity: 0.1;
    display: inline-flex;
    position: absolute;
}